.message {
  text-align: center;
  font-size: xx-large;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}
.smile {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}
